## Intro to Python

A computer can do two things:
- perform calculations
- store results

### Perform Calculations

We will first explore performing calculations by evaluating expressions:

In [2]:
3

3

In [1]:
3+2

5

In [3]:
3**2

9

In [4]:
3/2

1.5

In [5]:
3%2

1

### Math Operators

| Operator | Operation |
|---|---|
| + | Addition |
| - | Subtraction |
| * | Multiplication |
| / | Division |
| // | Integer Division |
| % | Modulus (Remainder) |
| ** | Exponent |

Just like we see in math, expressions are evaluated using order of operations.

### Data Types

We will be using different data types in programming. Three common data types are: integers, floats, and strings. Examples of each data type are listed in the table below:

| Data Type | Examples |
|---|---|
| Integer | 3, -4, 0, 10 |
| Float | 2.2, 3.99999, -9.42, 4.0 |
| String | 'cat', 'dog', 'WSU', 'Economics' |

In [6]:
'cat'

'cat'

In [7]:
4.0

4.0

In [8]:
3

3

### Variables 

In Python, ou can assign variables with the “=” sign. For example, if you want to assign the number 10 to the variable x, you would type x=10 into your program.

In [10]:
x=10

This variable is now stored in memory, and can be called.

In [11]:
x

10

You can also include this variable in other expressions.`

In [13]:
x+6

16

Notice that the expression above has both values (10 and 6) and an operator (+). Expressions reduce down multiple values to a single value (in this case 16). The value from an expression can also be assigned to a variable.

In [15]:
y = x+6
y

16

### Variable Naming Convention

Variable names in python must follow the following rules:

Variables can only contain letters, numbers, and underscores (_).
Variables cannot start with a number, but may start with a letter or underscore.
The following are appropriate variable names:

- v
- V
- myvariable
- my_variable
- Clown
- CLOWN

The following are not appropriate variable names:
- 1
- 5variable
- my variable
- my.variable

The name of a variable is what’s called an identifier. Python identifiers are also used for functions, classes, modules, etc. They also follow the same rules listed above. Identifiers are case senstive, meaning that we can define different values to clown and CLOWN as seen below.

In [17]:
clown = 5
CLOWN = 6

print("clown: "+str(clown))
print("CLOWN: "+str(CLOWN))

clown: 5
CLOWN: 6

### Built-in Functions

Python has built-in functions. You can find a complete list here in the [python docs](https://docs.python.org/3/library/functions.html). We just used a built in function: print(). Here are some examples of built-in functions:

In [1]:
z = 6
print(z)

6

In [3]:
len('dog')

3

In [5]:
type('dog')

str

In [4]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### String Built-in Functions

In [6]:
x = 'Economics'
print(x.upper())

ECONOMICS

### String Operations

In [7]:
v = 'WSU'
w = ' '
x = 'Economics'
print(v+w+x)

WSU Economics

In [8]:
'WSU' + ' ' + 'Economics'

'WSU Economics'

In [10]:
'WSU!'*5

'WSU!WSU!WSU!WSU!WSU!'

### String Slicing

The elements of a string are indexed starting from 0. To return the 4th element from a string, we call the string and use square brackets with 4 in it.

In [13]:
x='Economics'
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])
print('Economics'[5])

E
c
o
n
o
m

We can also return multiple elements using "slicing." To use splicing, we use the following convention 'string'[start:end], where start is the index we start from, and end is the index we end at. Notice that end will not be included in the output.

In [20]:
x='Economics'
print(x[0:4])
print(x[:4])

print(x[5:8])
print(x[5:])

print(x[:-1])

Econ
Econ
mic
mics
Economic

We can also insert a third argument called a step.

In [27]:
x='Economics'
print(x[0:6])
print(x[0:6:2])

print(x[5::-1])

print(x[::-1])

Econom
Eoo
monocE
scimonocE

### Lists

A list is an indexed collection of values. A list is defined by using square brackets, with the elements seperated by commas.

In [31]:
my_list1 = [1,2,3]
print(my_list1)
print(type(my_list1))

[1, 2, 3]
<class 'list'>

In [32]:
my_list2 = ['cat','dog','sheep']
print(my_list2)
print(type(my_list2))

['cat', 'dog', 'sheep']
<class 'list'>

In [33]:
my_list3 = [1,2,'cat','dog','sheep']
print(my_list3)
print(type(my_list3))

[1, 2, 'cat', 'dog', 'sheep']
<class 'list'>

### Boolean Values

In [30]:
bool_var1 = True
bool_var2 = False

print(type(bool_var1))
print(type(bool_var2))

True
False
<class 'bool'>
<class 'bool'>

In [39]:
print(5==5)
print(4==5)

print(4<6)
print(6<4)

print(7>5)
print(5>7)

print(5>=5)
print(6>=5)

True
False
True
False
True
False
True
True

### If - Then flow

In [34]:
bool_var1 = True
bool_var2 = False

if bool_var1:
    print('bool_var1 was true')
    
if bool_var2:
    print('bool_var2 was true')

bool_var1 was true

In [41]:
bool_var3 = 0
bool_var4 = 1
bool_var5 = -1

if bool_var3:
    print('bool_var3 was true')

if bool_var4:
    print('bool_var4 was true')

if bool_var5:
    print('bool_var5 was true')

bool_var4 was true
bool_var5 was true